* {
    box-sizing: border-box;
    font-family: 'Poppins';
  }
  
  html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  body {
    perspective: 1500px;
    background: #d6d6d6;
  }
  
  .card {
    font-weight: bold;
    padding: 1em;
    text-align: right;
    color: #181a1a;
    
    width:  300px;
    height: 400px;
    box-shadow: 0 1px 5px #00000099;
    
    border-radius: 10px;
    background-image: url(https://i.pinimg.com/564x/11/d6/87/11d6872910ca83126797f0554f7058da.jpg);
    background-size: cover;
    
    position: relative;
    
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
  }
  
  .card:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
  }
  
  .card .glow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    
    background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  }


  .text-princ {
    display: flex;
  }


  #macarrao {
    color:#181a1a;
    font-size: 3rem;
    margin-right: 100px;
  }

  h1#macarrao::after {
    content: 'Neli Chat';
    display: inline-block;
    margin-right: 200px;
    background-image: linear-gradient(90deg, rgba(255,180,48,1) 35%, rgba(255,55,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Arial', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}

#sec-1 {
    height: auto;
    display: flex;
    margin-left: 100px;
    /* border: 1px solid red; */
    padding-top: 300px;
}


.sec-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* border: 1px solid red; pai */
}

.container-prods {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  /* border: 1px solid red; */
}

.container-prods h2 {
  margin-bottom: 4rem;
}

.container-grid {
  display: grid;
  /* border: 1px solid black; */
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 100px;
  gap: 20px;
}

/* navbar - end */

.cards {
  margin: 10px;
  width: 300px;
  height: 300px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgb(119, 119, 119);
}

.cards article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards > img {
  object-fit: cover;
  height: 200px;
}

.cards > .desc-h3, .comprar-btn {
  text-align: center;
  align-items: center;
  justify-content: center;
}

article > p {
  text-align: center;
  margin: 10px;
}


/* article > .comprar-btn {
  font-size: 1rem;
  text-align: center;
  outline: none;
  border: none;
  background-color: #ff9c2b;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  
}



.comprar-btn:hover {
  transition: 0.8s;
  border: 1px solid #131312;
  background-color: #ff9c2b60;
  cursor: pointer;
} */

/* ... Outros estilos CSS ... */


  /* text animation - start */

  